@keyframes spinIt {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.dice-animating {
    animation-name: spinIt;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
